.profile__info {
  padding-left: 23px;
  max-width: 350px;
  display: grid;
  grid-template-areas:
"title button"
"subtitle button";
}

@media screen and (max-width: 320px) {
  .profile__info {
    max-width: 280px;
    padding: 0;
  }
}
