@import url('_name/popup__input_name.css');
@import url('_description/popup__input_description.css');

.popup__input {
  max-width: 358px;
  margin: 0 auto;
  border-bottom: 1px solid #000000;
  font-size: 14px;
  line-height: 1.5;
  /*border-opacity: 0.2;*/
  padding-bottom: 13px;
  padding-top: 30px;
}

