.popup__container {
  min-width: 430px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  /*transition: visibility 0.5s, opacity 1s linear;*/
}

@media screen and (max-width: 450px) {
  .popup__container {
    min-width: 282px;
  }
}
