@import url('__avatar/profile__avatar.css');
@import url('__info/profile__info.css');
@import url('__button/profile__button.css');
@import url('__edit-button/profile__edit-button.css');
@import url('__add-button/profile__add-button.css');

.profile {
  padding-top: 40px;
  padding-bottom: 51px;
  width: 882px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 320px) {
  .profile {
    width: 282px;
    height: 286px;
    padding-top: 42px;
    padding-bottom: 36px;
    flex-direction: column;
  }
}
