@import url('__logo/header__logo.css');

.header {
  padding-top: 45px;
  max-width: 882px;
  margin: 0 auto;
  min-height: 74px;
  position: relative;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 324px;
    min-height: 56px;
    padding-top: 28px;
  }
}
