.element__figcation-like {
  width: 21px;
  height: 19px;
  padding-right: 30px;
  border: none;
  background: url("../../../images/Like.svg") center no-repeat;
  transition: 0.3s;
  outline:none;
}

.element__figcation-like:hover {
  opacity: 0.6;
  cursor: pointer;
}


