.elements {
  width: 882px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  /*grid-template-rows: repeat(auto-fit, minmax(361px, 1fr));*/
  row-gap: 20px;
  column-gap: 16px;
  padding-left: 0;
}

@media screen and (max-width: 320px) {
  .elements {
    width: 282px;
    height: 2266px;
  }
}
