.elements {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  row-gap: 20px;
  column-gap: 16px;
  padding: 0;
}

@media screen and (max-width: 1280px) and (max-width: 780px) {
  .elements {
    width: 80%;
  }
}

@media screen and (max-width: 779px) and (max-width: 320px) {
  .elements {
    width: 282px;
  }
}
