.elements {
  max-width: 882px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  /*grid-template-rows: repeat(auto-fit, minmax(361px, 1fr));*/
  row-gap: 20px;
  column-gap: 16px;
  padding: 0;
  /*overflow:hidden;*/
  /*overflow-x:hidden;*/
  /*overflow-y:hidden;*/
}

@media screen and (max-width: 320px) {
  .elements {
    max-width: 282px;
    max-height: 2284px;
  }
}
