@import url('__copiryght/footer__copiryght.css');

.footer {
  padding-top: 66px;
  padding-bottom: 60px;
  margin: 0 auto;
  width: 70%;
}

@media screen and (max-width: 320px) {
  .footer {
    width: 90%;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
