@import url('_image/popup__figcation-title_image.css');

.element__figcation-title {
  color: black;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  padding: 25px 20px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
