.popup__button-close {
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url("../../../images/Close Icon.png");
  border: none;
  background-position: center;
  background-color: black;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.popup__button-close:hover {
  opacity: 0.5;
}

@media screen and (max-width: 560px) {
  .popup__button-close {
    top: -40px;
    right: 0;
    width: 26px;
    height: 26px;
  }
}
