@import url('_active/popup__input_type_error_active.css');

.popup__input_type_error {
  border-bottom: 2px solid red;
  min-width: 358px;
  margin: 0 auto;
  font-size: 12px;
  line-height: 1.2;
  color: red;
  opacity: 0;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  transition: opacity 0.3s;
}
