@import url('_title/profile__info_title.css');
@import url('_subtitle/profile__info_subtitle.css');

.profile__info {
  padding-left: 23px;
  max-width: 350px;
  position: relative;
}

@media screen and (max-width: 320px) {
  .profile__info {
    max-width: 280px;
    max-height: 66px;
    padding: 0;
  }
}
