@import url('__copiryght/footer__copiryght.css');

.footer {
  padding-top: 66px;
  padding-bottom: 60px;
  margin: 0 auto;
  width: 882px;
}

@media screen and (max-width: 1280px) and (min-width: 300px) {
  .footer {
    width: 282px;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
