.footer__copiryght {
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  color: #545454;
}

@media screen and (min-width: 300px) {
  .footer__copiryght {
    width: 282px;
    font-size: 14px;
    padding-top: 36px;
    padding-bottom: 48px;

  }
}
