.profile__button {
  padding-left: 246px;
  display: flex;
}

@media screen and (max-width: 1280px) and (max-width: 780px) {
  .profile__button {
    padding-left: 50px;
    padding-top: 36px;
  }
}

@media screen and (max-width: 779px) and (max-width: 320px) {
  .profile__button {
    flex-direction: column;
    padding-left: 0;
  }
}
