@import url('__item/element__item.css');
@import url('__figcation/element__figcation.css');
@import url('__figcation-laik/element__figcation-laik.css');
@import url('__figcation-title/element__figcation-title.css');
@import url('__delete/element__delete.css');

.element {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 282px;
  position: relative;
}
