@import url('__item/element__item.css');
@import url('__figcation/element__figcation.css');
@import url('__figcation/_title/element__figcation_title.css');
@import url('__figcation/_laik/element__figcation_laik.css');

.element {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
}
